<!-- Recent News -->
<div class="section">
  <div class="container">
    <h2 class="orange">Recent News</h2>
      <div class="row abstract">
          <ul>
              <li> Our recent work on Hyperbolic Attention Networks is out: <a
           href="https://arxiv.org/abs/1805.09786"> arXiv Link </a> </li>
              <li> Our paper "Relational inductive biases, deep learning, and graph networks" is
                  on arXiv: <a href="https://arxiv.org/abs/1806.01261"> arXiv Link </a> </li>
              <li> Gave a tutorial on Memory Augmented Neural Networks at EMNLP 2017: <a
                               href="https://sites.google.com/corp/view/mann-emnlp2017/"> Tutorial
                               Page </a> </li>
              <li> Gave a talk at European Council in Luxembourg on Neural Machine Translation and
                  Planning Mechanisms. </li>
          </ul>
      </div>
    <hr>
  </div>
</div>
